<%- include("./partials/header") %>
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<div class="container mt-5">

<h1>Share experience and stuff !!</h1><br>
    <form action="/shares/<%= data.id%>/edit" method="POST">

    <div class="form-group mb-5">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%= data.title%>" class="form-control" required autofocus>
    </div>

    <!-- <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit" value="submit">Add</button> -->

    <label for="content">Content</label>
    <textarea name="content" id="content"><%= data.content%></textarea>
    <script>
            CKEDITOR.replace( 'content' );
    </script>

    <input type="submit" value="Save" class="btn btn-success mt-4 float-right">
</form>

</div>


<%- include("./partials/footer") %>