<%- include("./partials/header") %>

<div class="container mt-5">

    <div class="row">
        <div class="col-8">
            <h1>Explore great things and stuffs here!!</h1>
        </div>
        <div class="col-4 text-center">
            <div class="mb-4">Share your experiences, insights & ideas!</div>
            <a href="/addShares" class="btn btn-success">Create New Shares!</a>
        </div>
    </div>
    <br>
    <!-- <table >
        <thead >
            <tr>
                No
            </th>
            <th>Title</th>
            <th>Alumnus</th>
        </thead>
        <tbody> -->
            <% data.forEach(share => {%>
                <div class="mt-5 p-4" style="width: 50%; height: 160px;overflow: hidden;background-color: #cacaca;">
                <a href="/shares/<%= share.id %>" class="plain-link">
                    <h2><%= share.title %> </h2>
                    <div>posted on: <%=share.elapsedTime()%> ago <br> by: <%=share.User.username%></div>
                    <div style="overflow: hidden;"><%- share.content %></div>
                </a>
                </div>
                
                
             <%}); %> 
        <!-- </tbody>

    </table> -->

</div>
<%- include("./partials/footer") %>