<%- include("./partials/header") %>

<div class="container mt-5">
    <h1><%= data.title %></h1>

    <span class="float-rigth">Posted on: <%= data.formatDate %> </span>
    <br> By: <%=data.User.Profile.fullname%>
    <div style="margin-top: 30px;">
        <%- data.content %>
    </div>

    <!-- <h1>Post Title</h1>

    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi voluptates rem quaerat 
        incidunt doloremque? Impedit, officiis eius! Optio ipsum, fugiat fuga ullam ad ea illum 
        nemo autem officia exercitationem, enim expedita in? In eius ex quasi? Eligendi, debitis, 
        alias adipisci incidunt repudiandae dolor ullam tempore soluta corrupti nesciunt impedit! Nostrum eos totam ea laborum dolores ratione nihil? Mollitia, quos id! Mollitia repudiandae nostrum fuga minus tenetur totam autem eos, deserunt modi voluptates quos doloribus porro sunt animi maiores nihil maxime at eveniet officia, dolorem obcaecati! 
        Accusantium omnis molestiae, aspernatur magni quidem, perferendis natus cupiditate similique veniam sunt minus expedita ipsum!
    </div> -->
</div>


<%- include("./partials/footer") %>